@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu&display=swap");
.header {
  position: relative;
  z-index: 5;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-text {
  display: block;
  color: #fffefe;
  text-decoration: none;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -0.04em;
  padding-top: 5px;
  padding-left: 30px;
  position: relative;
}

.logo-text::before {
  content: ' ';
  top: 0px;
  left: 0px;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid #fffefe;
}

.menu-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-link {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #fffefe;
  margin-right: 36px;
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.menu-link:last-child {
  display: inline-block;
  margin-right: 65px;
  margin-top: 10px;
}

.menu-hamburger {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
}

.menu-hamburger span {
  width: 100%;
  height: 2px;
  top: 50%;
  position: absolute;
  background-color: #fffefe;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-hamburger span:first-child {
  top: calc(50% - 8px);
}

.menu-hamburger span:last-child {
  top: calc(50% + 8px);
}

.menu-hamburger.active span:first-child {
  -webkit-transform: translateY(8px) rotate(45deg) scale(1.2);
          transform: translateY(8px) rotate(45deg) scale(1.2);
}

.menu-hamburger.active span:last-child {
  -webkit-transform: translateY(-8px) rotate(-45deg) scale(1.2);
          transform: translateY(-8px) rotate(-45deg) scale(1.2);
}

.menu-hamburger.active span:nth-child(2) {
  display: none;
}

.promo {
  padding: 60px 20px 350px;
  background-image: url("../img/bg-img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.promo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  background: linear-gradient(100deg, black 52%, rgba(0, 212, 255, 0) 100%);
  z-index: 2;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 200px;
  position: relative;
  z-index: 2;
}

.content-wrapper h1 {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.content-wrapper .promo-text {
  max-width: 411px;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin-top: 41px;
  color: #d3d3d3;
}

.btn {
  margin-top: 40px;
  padding: 21px 61px;
  border: 1px solid #fffefe;
  border-radius: 40px;
  text-decoration: none;
  color: #fffefe;
  width: 215px;
  font-size: 15px;
  line-height: 23px;
  font-weight: 700;
  text-align: center;
}

.btn:hover {
  color: #05ffcd;
  border-color: #05ffcd;
}

.btn-cv {
  width: 250px;
}

.btn-promo {
  color: #05ffcd;
  border: 1px solid #05ffcd;
}

.btn-promo:hover {
  color: #fffefe;
  border-color: #fffefe;
}

.btn-circle {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1;
}

.about {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #1e2326;
  z-index: 5;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-photo {
  position: relative;
  max-width: 420px;
  margin-right: 52px;
}

.about-photo::before {
  content: '';
  position: absolute;
  display: block;
  top: -15px;
  left: -40px;
  width: calc(100% + 3.75%);
  height: calc(100% + 6.1%);
  border: 1px solid #eeeeee;
  border-radius: 10px;
  z-index: 0;
}

.about-photo img {
  display: block;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-text {
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #d3d3d3;
  max-width: 500px;
  margin-top: 35px;
}

.heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-bottom: 36px;
}

.more-info {
  margin-top: 35px;
}

.more-info span {
  font-weight: 700;
}

.more-info div {
  margin-top: 15px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  margin-right: 15px;
  color: #fffefe;
  text-decoration: none;
}

.icon:hover {
  color: #05ffcd;
}

.circle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.circle i {
  font-size: 20px;
}

.footer {
  background-color: #101010;
  padding: 150px 0;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills {
  background-color: #1e2326;
  padding: 55px 20px;
}

.skills .container {
  -webkit-transition: opacity 1s ease-in, -webkit-transform 1s ease-in;
  transition: opacity 1s ease-in, -webkit-transform 1s ease-in;
  transition: opacity 1s ease-in, transform 1s ease-in;
  transition: opacity 1s ease-in, transform 1s ease-in, -webkit-transform 1s ease-in;
}

.skills .heading {
  margin: 0;
  margin-bottom: 105px;
  text-align: center;
}

.skills-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 85px;
}

.skill-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d3d3d3;
}

.skill-text {
  max-height: 110px;
  width: 300px;
  text-align: center;
}

.skill-logo {
  font-size: 35px;
  margin-bottom: 71px;
  position: relative;
}

.skill-logo::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 5px solid #05ffcd;
  border-radius: 50%;
}

.portfolio {
  padding: 55px 20px;
  background-color: #1e2326;
}

.portfolio .container {
  -webkit-transition: opacity 1s ease-in, -webkit-transform 1s ease-in;
  transition: opacity 1s ease-in, -webkit-transform 1s ease-in;
  transition: opacity 1s ease-in, transform 1s ease-in;
  transition: opacity 1s ease-in, transform 1s ease-in, -webkit-transform 1s ease-in;
}

.portfolio .heading {
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
}

.portfolio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.portfolio-wrapper a {
  max-width: 370px;
  max-height: 245px;
  text-decoration: none;
  color: #d3d3d3;
}

.portfolio-item {
  width: 370px;
  height: 245px;
  position: relative;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(30, 35, 38, 0.5);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay:hover {
  opacity: 1;
}

.expand-icon {
  font-size: 38px;
  color: #05ffcd;
  margin-bottom: 25px;
}

.project-name {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #fffefe;
  margin-bottom: 23px;
}

.project-descr {
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #d3d3d3;
  text-align: center;
  max-width: 265px;
}

.subheading {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #fffefe;
  margin: 0;
  margin-bottom: 18px;
}

.subheading::before {
  content: '';
  position: absolute;
  height: 12px;
  width: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -49px;
  z-index: 10;
  border-radius: 50%;
  background-color: #05ffcd;
}

.education {
  padding: 55px 0;
  background-color: #1e2326;
}

.education .container {
  -webkit-transition: opacity 1s ease-in, -webkit-transform 1s ease-in;
  transition: opacity 1s ease-in, -webkit-transform 1s ease-in;
  transition: opacity 1s ease-in, transform 1s ease-in;
  transition: opacity 1s ease-in, transform 1s ease-in, -webkit-transform 1s ease-in;
}

.education-descr {
  margin-bottom: 30px;
}

.education .heading {
  text-align: center;
}

.education-institution {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #fffefe;
  margin-bottom: 21px;
}

.education-institution span {
  margin-left: 13px;
}

.education-institution span::before {
  content: '';
  display: inline-block;
  margin-right: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-right: -5px;
  width: 6px;
  height: 6px;
  background-color: #05ffcd;
  border-radius: 50%;
}

.education-wrapper {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 960px;
  overflow-x: hidden;
}

.education-points {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-column: 2;
  grid-column: 2;
  -webkit-column-gap: 86px;
          column-gap: 86px;
}

.education-point {
  margin-top: 22px;
  max-width: 440px;
  text-align: right;
  -webkit-transition: opacity 2s ease-in, -webkit-transform 0.5s ease-out;
  transition: opacity 2s ease-in, -webkit-transform 0.5s ease-out;
  transition: opacity 2s ease-in, transform 0.5s ease-out;
  transition: opacity 2s ease-in, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.education-point.hidden {
  opacity: 0;
}

.education-point.hidden.right {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.education-point.hidden.left {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.education-point.right {
  text-align: left;
  -ms-grid-column: 2;
  grid-column: 2;
}

.education-point.visible {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.education-point.visible.left, .education-point.visible.right {
  -webkit-transform: none;
          transform: none;
}

.education-point:nth-child(2), .education-point:nth-child(4) {
  margin-top: -80px;
  margin-bottom: 30px;
}

.education-point.left .subheading::before {
  left: calc(100% + 37px);
}

.line {
  position: absolute;
  width: 2px;
  height: calc(100% - 90px);
  background-color: #31383d;
}

@media (max-width: 1199.98px) {
  .container {
    width: 960px;
    padding: 0 15px;
  }
  .about-wrapper {
    padding-left: 10px;
  }
  .about-photo {
    width: 340px;
  }
  .portfolio-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
  .about {
    padding-top: 55px;
  }
  .education .heading {
    margin-top: 0;
  }
  .education-point:nth-child(2), .education-point:nth-child(4) {
    margin-top: -160px;
  }
  .footer {
    padding: 50px 0;
  }
  .footer-wrapper {
    height: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-wrapper .icons {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
  }
  .menu-list {
    height: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-hamburger {
    display: block;
    z-index: 15;
  }
  .active {
    left: 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    width: 540px;
  }
  .about {
    padding: 27px 0;
  }
  .about-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-photo {
    width: 250px;
    margin: 0 auto;
  }
  .about-info {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .education {
    padding: 27px 0;
  }
  .education-points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .education-point {
    text-align: center;
  }
  .education-point.right {
    text-align: center;
  }
  .education-point:nth-child(2), .education-point:nth-child(4) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .education .circle,
  .education .line {
    display: none;
  }
  .education .subheading::before {
    display: none;
  }
  .skills {
    padding: 27px 0;
  }
  .skills-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio {
    padding: 27px 0;
  }
  .footer .copyright {
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

@media (max-width: 320px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .about-photo {
    width: 200px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fffefe;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-hidden .container {
  opacity: 0;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}
