@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu&display=swap');

@import 'variables';
@import './blocks/header';
@import './blocks/promo';
@import './blocks/buttons';
@import './blocks/about';
@import './blocks/social';
@import './blocks/footer';
@import './blocks/skills';
@import './blocks/portfolio';
@import './blocks/education';
@import './blocks/responsive';

* {
  box-sizing: border-box;
}

body {
  font-family: $text-font;
  font-weight: 400;
  color: $primary-color;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-hidden .container {
  opacity: 0;
  transform: translateY(20%);
}
