@media (max-width: 1300px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            column-gap: 30px;
        }
    }
    .skills {
        &__wrapper {
            grid-template: repeat(3, minmax(270px, auto))/repeat(3, 270px);
        }
        &__lines {
            grid-template: repeat(3, minmax(70px, auto))/repeat(2, 350px);
            justify-content: space-around;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit , 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .vertical , .horizontal {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 350px 520px;
            column-gap: 15px;
            padding: 0 20px 0 36px;

        }
        &__form {
            grid-template: 42px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &__fz36 {
            font-size: 30px;
        }
    }

    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                column-gap: 15px;
                grid-template-columns: 40px 320px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 343px);
            padding-left: 0;
        }
    }
    .skills {
        &__wrapper {
            grid-template: repeat(4, minmax(270px, auto))/repeat(2, 270px);
        }
    }
    .contacts {

        &__wrapper {
            grid-template-columns: 520px;
        }
        &__photo {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &__fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 400px auto auto;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: 260px 260px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__subtitle {
            font-size: 24px;
        }
        &__wrapper {
            grid-template-columns: 450px;
            padding: 40px 12px 40px 15px;
            justify-content: center;
        }
    }
    .skills {
        &__subtitle {
            font-size: 24px;
        }
        &__wrapper {
            grid-template: repeat(4, minmax(270px, auto))/ 270px;
        }
        &__lines {
            grid-template: repeat(3, minmax(70px, auto))/350px; 
            margin-top: 40px;
        }
    }
    .portfolio {
        padding-top: 40px;
    }
    .contacts {
        padding-top: 40px;
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &__fz48 {
            font-size: 26px;
        }
    }
    .promo {
        background: url("../img/main_bg.jpg") 57% / cover no-repeat;
        &__btns {
            margin-top: 32px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }

    .about {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 340px auto auto;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
        &_subtitle {
            font-size: 24px;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 300px;
            padding: 40px 0px 40px 15px;
        }
    }
    .skills {
        &__lines {
            grid-template: repeat(6, minmax(70px, auto))/300px;

            &__lower {
                
                width: 300px;
            }
        }
    }
    .contacts {
        padding-bottom: 50px;
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}