.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') 50%/cover no-repeat;
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        @include before_circle;
        padding-left: 10px;
        z-index: 2;
    }
    &__btns {
        display: flex;
        margin-top: 25px;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }
    &__link {
        font-weight: bold;
        color: #000; 
        text-decoration: none;
        &:hover {
            color: #000;
        }
    }

}