@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
.promo {
  min-height: 100vh;
  position: relative;
  background: url("../img/main_bg.jpg") 50%/cover no-repeat;
  padding-top: 205px;
}

.promo__title {
  width: 535px;
  margin-top: 10px;
}

.promo__subtitle {
  position: relative;
  padding-left: 10px;
  z-index: 2;
}

.promo__subtitle:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #FFA501;
  top: -25%;
  left: 0;
}

.promo__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
}

.promo__link {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.promo__link:hover {
  color: #000;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
}

.title__fz36 {
  font-size: 36px;
}

.title__fz14 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.title__fz16 {
  font-size: 16px;
  line-height: 24px;
}

.title__fz48 {
  font-size: 48px;
}

.title__fz12 {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.title__fz20 {
  font-size: 20px;
  line-height: 30px;
}

.btn {
  background: #FFA501;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 12px 25px;
  height: 45px;
}

.sidepanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 225px;
  left: 50px;
  position: fixed;
  z-index: 3;
  height: 360px;
  width: 25px;
}

.sidepanel__link_img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.sidepanel__link_img_linkrot {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.sidepanel__link_img_linkrot:hover {
  -webkit-transform: rotate(-90deg) scale(1.3);
          transform: rotate(-90deg) scale(1.3);
}

.sidepanel__devider {
  height: 70px;
  width: 2px;
  background-color: #000;
}

.sidepanel__text {
  width: 24px;
  height: 150px;
}

.sidepanel__text span {
  display: block;
  -webkit-transform: rotate(-90deg) translate(-30%, -260%);
          transform: rotate(-90deg) translate(-30%, -260%);
  width: 150px;
  height: 24px;
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background: #151812;
}

.hamburger span.long {
  width: 36px;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.menu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}

.menu__block {
  position: relative;
  width: 345px;
  height: 100%;
  background-color: #FFA501;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  padding-top: 140px;
  padding-left: 40px;
  z-index: 10;
}

.menu__close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.menu__list {
  list-style-type: none;
  padding-left: 35px;
}

.menu__link {
  position: relative;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 15px;
}

.menu__link::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.menu__link:hover:before {
  background-color: #fff;
}

.menu__link a {
  color: #fff;
  text-decoration: none;
}

.menu__link a:hover {
  text-decoration: underline;
}

.menu__social {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__social a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.75;
}

.about {
  padding-top: 120px;
}

.about__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 670px;
      grid-template-columns: 400px 670px;
  -ms-grid-rows: minmax(245px, auto) minmax(250px, auto);
      grid-template-rows: minmax(245px, auto) minmax(250px, auto);
  grid-auto-rows: minmax(245px, auto);
  -webkit-column-gap: 70px;
          column-gap: 70px;
  row-gap: 40px;
}

.about__photo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.about__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__descr {
  padding-top: 6px;
}

.about__descr .devider {
  margin: 0;
}

.about__title {
  position: relative;
  padding-left: 12px;
  padding-top: 1px;
}

.about__title:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #FFA501;
  top: -25%;
  left: 0;
}

.about__text {
  margin-top: 20px;
}

.about__skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(115px, auto))[2];
  -ms-grid-columns: (260px)[2];
      grid-template: repeat(2, minmax(115px, auto))/repeat(2, 260px);
  grid-auto-rows: 1fr;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 20px;
}

.about__skills-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 200px;
      grid-template-columns: 40px 200px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.about__skills-item .title__fz14 {
  font-weight: bold;
}

.about__skills-circle {
  position: relative;
  padding-top: 15px;
  padding-left: 15px;
}

.about__skills-circle:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #FFA501;
  top: -25%;
  left: 0;
}

.about__skills-circle:before {
  top: 0;
}

.about__skills-text {
  margin-top: 6px;
}

.resume {
  padding-top: 120px;
}

.resume__title {
  position: relative;
  text-align: center;
}

.resume__title:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #FFA501;
  top: -25%;
  left: 0;
}

.resume__title:before {
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.resume__subtitle {
  text-align: center;
}

.resume__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (425px)[2];
      grid-template-columns: repeat(2, 425px);
  padding: 60px 0 0 65px;
  -webkit-column-gap: 135px;
          column-gap: 135px;
}

.resume__column-title {
  position: relative;
  padding-left: 35px;
}

.resume__column-title:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #FFA501;
  border-radius: 100%;
  left: -7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.resume__column ul {
  padding-left: 0;
  list-style-type: none;
}

.resume__column ul li {
  position: relative;
}

.resume__column ul li:after {
  content: "";
  width: 1px;
  height: calc(100% + 16px);
  position: absolute;
  top: -16px;
  left: 0;
  background-color: black;
}

.resume__item {
  position: relative;
}

.resume__item:before {
  content: '';
  position: absolute;
  width: 43px;
  height: 1px;
  top: 68px;
  background-color: black;
}

.resume__item-fz14 {
  font-weight: 700;
}

.resume__item-head {
  position: relative;
  padding-left: 100px;
  padding-top: 45px;
}

.resume__item-head h4 {
  margin-bottom: 0;
}

.resume__item-body {
  padding-left: 43px;
  margin-top: 12px;
}

.resume__item-icon {
  position: absolute;
  top: 51px;
  left: 43px;
}

.resume__item-icon:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #FFA501;
  top: -25%;
  left: 0;
}

.resume__item-icon img {
  position: absolute;
  left: 17px;
  top: 14px;
}

.resume__item-location {
  margin-top: 5px;
}

.skills {
  padding-top: 126px;
}

.skills__title {
  position: relative;
  text-align: center;
}

.skills__title:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #FFA501;
  top: -25%;
  left: 0;
}

.skills__title:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.skills__subtitle {
  margin-top: 6px;
  text-align: center;
}

.skills__item-content-img {
  height: 65px;
}

.skills__item-content-title {
  font-weight: 700;
  margin-top: 20px;
}

.skills__item-content-descr {
  margin-top: 15px;
  width: 100%;
  height: 100%;
}

.skills__wrapper {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(270px, auto))[2];
  -ms-grid-columns: (270px)[4];
      grid-template: repeat(2, minmax(270px, auto))/repeat(4, 270px);
  grid-auto-rows: 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 13px;
}

.skills__item {
  width: 270px;
  min-height: 270px;
  border: 1px solid #000000;
  padding: 30px 29px 25px 30px;
}

.skills__lines {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(70px, auto))[2];
  -ms-grid-columns: (350px)[3];
      grid-template: repeat(2, minmax(70px, auto))/repeat(3, 350px);
  grid-auto-rows: minmax(70px, auto);
  row-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 128px;
}

.skills__lines__lower {
  position: absolute;
  margin-top: 27px;
  width: 350px;
  height: 14px;
  background: #E8E4DE;
  border-radius: 4px;
  top: 27px;
  left: 0;
}

.skills__lines__lower span {
  display: block;
  background: #FFA501;
  height: 100%;
}

.skills__lines__item {
  position: relative;
  padding: 8px 0 0 14px;
}

.skills__lines__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__lines__title:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #FFA501;
  top: -25%;
  left: 0;
}

.skills__lines__title:before {
  top: -7px;
  left: -14px;
}

.skills__lines__title span {
  font-weight: 500;
  text-align: right;
}

.portfolio {
  padding-top: 126px;
}

.portfolio__title {
  position: relative;
  text-align: center;
}

.portfolio__title:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #FFA501;
  top: -25%;
  left: 0;
}

.portfolio__title:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.portfolio__subtitle {
  margin-top: 6px;
  text-align: center;
}

.portfolio__wrapper {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (280px)[2];
  -ms-grid-columns: (280px)[4];
      grid-template: repeat(2, 280px)/repeat(4, 280px);
  grid-auto-rows: 280px;
  row-gap: 5px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.portfolio__wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__wrapper .vertical {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

.portfolio__wrapper .horizontal {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.contacts {
  padding: 126px 0 90px 0;
}

.contacts__text {
  font-weight: 700;
  margin-top: 20px;
}

.contacts__icons {
  margin-top: 20px;
}

.contacts__icons a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.contacts__link {
  display: inline-block;
  margin-right: 25px;
}

.contacts__link img {
  max-width: 30px;
  max-height: 30px;
}

.contacts__wrapper {
  padding: 0 35px 0 52px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 585px;
      grid-template-columns: 400px 585px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts__title {
  position: relative;
  padding-left: 12px;
  padding-top: 6px;
}

.contacts__title:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #FFA501;
  top: -25%;
  left: 0;
}

.contacts__title:before {
  top: 0;
}

.contacts .devider {
  margin: 0;
}

.contacts__form {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 45px 190px 45px;
  -ms-grid-columns: (280px)[2];
      grid-template: 45px 190px 45px/repeat(2, 280px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 27px;
}

.contacts__form label {
  position: absolute;
  height: 18px;
  padding: 0 8px;
  background-color: #fff;
  font-size: 12px;
  margin-bottom: 0;
  top: -9px;
  left: 12px;
}

.contacts__triggers {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-column-gap: 35px;
          column-gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__policy {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__policy input {
  margin-right: 10px;
}

.contacts__input {
  position: relative;
}

.contacts__input input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 12px;
  font-weight: 500;
}

.contacts__textarea {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contacts__textarea textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 12px;
  font-weight: 500;
  padding: 0 20px;
}

.contacts__btn {
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.devider {
  width: 60px;
  height: 3px;
  background-color: #FFA501;
  margin-top: 25px;
  margin: 25px auto 0 auto;
}

@media (max-width: 1300px) {
  .sidepanel {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .about__wrapper {
    -ms-grid-columns: 400px 520px;
        grid-template-columns: 400px 520px;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  .about__skills {
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -ms-grid-rows: (minmax(115px, auto))[2];
    -ms-grid-columns: (250px)[2];
        grid-template: repeat(2, minmax(115px, auto))/repeat(2, 250px);
  }
  .about__skills-item {
    -ms-grid-columns: 40px 195px;
        grid-template-columns: 40px 195px;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
  .resume__wrapper {
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .skills__wrapper {
    -ms-grid-rows: (minmax(270px, auto))[3];
    -ms-grid-columns: (270px)[3];
        grid-template: repeat(3, minmax(270px, auto))/repeat(3, 270px);
  }
  .skills__lines {
    -ms-grid-rows: (minmax(70px, auto))[3];
    -ms-grid-columns: (350px)[2];
        grid-template: repeat(3, minmax(70px, auto))/repeat(2, 350px);
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .portfolio__wrapper {
    -ms-grid-columns: (280px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 280px);
    grid-auto-rows: 280px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    row-gap: 35px;
  }
  .portfolio__wrapper .vertical, .portfolio__wrapper .horizontal {
    grid-row: unset;
    grid-column: unset;
  }
  .contacts__wrapper {
    -ms-grid-columns: 350px 520px;
        grid-template-columns: 350px 520px;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    padding: 0 20px 0 36px;
  }
  .contacts__form {
    -ms-grid-rows: 42px 190px 45px;
    -ms-grid-columns: (250px)[2];
        grid-template: 42px 190px 45px/repeat(2, 250px);
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .title__fz36 {
    font-size: 30px;
  }
  .about__wrapper {
    -ms-grid-columns: 300px 380px;
        grid-template-columns: 300px 380px;
  }
  .about__skills {
    -ms-grid-columns: 380px;
        grid-template-columns: 380px;
    grid-auto-rows: minmax(115px, auto);
  }
  .about__skills-item {
    -webkit-column-gap: 15px;
            column-gap: 15px;
    -ms-grid-columns: 40px 320px;
        grid-template-columns: 40px 320px;
  }
  .resume__wrapper {
    -ms-grid-columns: (343px)[2];
        grid-template-columns: repeat(2, 343px);
    padding-left: 0;
  }
  .skills__wrapper {
    -ms-grid-rows: (minmax(270px, auto))[4];
    -ms-grid-columns: (270px)[2];
        grid-template: repeat(4, minmax(270px, auto))/repeat(2, 270px);
  }
  .contacts__wrapper {
    -ms-grid-columns: 520px;
        grid-template-columns: 520px;
  }
  .contacts__photo {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .title__fz48 {
    font-size: 28px;
  }
  .promo__title {
    line-height: 39px;
    width: 300px;
  }
  .about {
    padding-top: 40px;
  }
  .about__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 400px auto auto;
        grid-template-rows: 400px auto auto;
  }
  .about__photo {
    grid-row: unset;
  }
  .about__skills {
    -ms-grid-columns: 260px 260px;
        grid-template-columns: 260px 260px;
    grid-auto-rows: minmax(115px, auto);
  }
  .about__skills-item {
    -ms-grid-columns: 40px 200px;
        grid-template-columns: 40px 200px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .resume__subtitle {
    font-size: 24px;
  }
  .resume__wrapper {
    -ms-grid-columns: 450px;
        grid-template-columns: 450px;
    padding: 40px 12px 40px 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills__subtitle {
    font-size: 24px;
  }
  .skills__wrapper {
    -ms-grid-rows: (minmax(270px, auto))[4];
    -ms-grid-columns: 270px;
        grid-template: repeat(4, minmax(270px, auto))/270px;
  }
  .skills__lines {
    -ms-grid-rows: (minmax(70px, auto))[3];
    -ms-grid-columns: 350px;
        grid-template: repeat(3, minmax(70px, auto))/350px;
    margin-top: 40px;
  }
  .portfolio {
    padding-top: 40px;
  }
  .contacts {
    padding-top: 40px;
  }
  .contacts__photo {
    display: none;
  }
  .contacts__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contacts__form {
    -ms-grid-rows: 45px 190px 45px;
    -ms-grid-columns: (250px)[2];
        grid-template: 45px 190px 45px/repeat(2, 250px);
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .title__fz48 {
    font-size: 26px;
  }
  .promo {
    background: url("../img/main_bg.jpg") 57%/cover no-repeat;
  }
  .promo__btns {
    margin-top: 32px;
  }
  .hamburger {
    right: 20px;
  }
  .menu__block {
    width: 250px;
    padding-left: 20px;
  }
  .about__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 340px auto auto;
        grid-template-rows: 340px auto auto;
  }
  .about__skills {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about_subtitle {
    font-size: 24px;
  }
  .resume__wrapper {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
    padding: 40px 0px 40px 15px;
  }
  .skills__lines {
    -ms-grid-rows: (minmax(70px, auto))[6];
    -ms-grid-columns: 300px;
        grid-template: repeat(6, minmax(70px, auto))/300px;
  }
  .skills__lines__lower {
    width: 300px;
  }
  .contacts {
    padding-bottom: 50px;
  }
  .contacts__form {
    -ms-grid-rows: 45px 45px 190px minmax(45px, auto);
    -ms-grid-columns: 1fr;
        grid-template: 45px 45px 190px minmax(45px, auto)/1fr;
  }
  .contacts__textarea {
    grid-column: unset;
    width: 100%;
  }
  .contacts__triggers {
    grid-column: unset;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: unset;
            column-gap: unset;
    row-gap: 20px;
  }
  .contacts__btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 220px;
    margin: 0 auto;
  }
  .contacts__policy {
    width: 180px;
    margin: 0 auto;
    line-height: 18px;
  }
}
/*# sourceMappingURL=style.css.map */