.skills {
    padding-top: 126px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        margin-top: 6px;
        text-align: center;
    }
    &__item {
        &-content {
            &-img {
                height: 65px;
            }

            &-title {
                font-weight: 700;
                margin-top: 20px;
            }
            &-descr {
                margin-top: 15px;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2, minmax(270px, auto)) / repeat(4, 270px);
        grid-auto-rows: 1fr;
        justify-content: space-around;
        row-gap: 13px;
    }
    &__item {
        width: 270px;
        min-height: 270px;
        border: 1px solid #000000;
        padding: 30px 29px 25px 30px;
    }

    &__lines {
        display: grid;
        grid-template: repeat(2, minmax(70px, auto)) / repeat(3, 350px);
        grid-auto-rows: minmax(70px, auto);
        row-gap: 30px;
        justify-content: space-between;
        margin-top: 128px;
        &__lower {
            position: absolute;
            margin-top: 27px;
            width: 350px;
            height: 14px;
            background: #E8E4DE;
            border-radius: 4px;
            top: 27px;
            left: 0;
            span {
                display: block;
                background: $main-color;
                height: 100%;
            }
        }
        &__item {
            position: relative;
            padding: 8px 0 0 14px;
        }
        &__title {
            position: relative;
            display: flex;
            font-size: 14px;
            line-height: 21px;
            font-weight: bold;
            justify-content: space-between;
            @include before_circle;
            &:before {
                top: -7px;
                left: -14px;
            }
            span {
                font-weight: 500;
                text-align: right;
            }
        }
    }
}
